:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column; 
  gap: 15px;              
  align-items: center;    
  padding: 20px;
}

.student-box {
  border: 1px solid #000;
  padding: 10px;        
  border-radius: 8px;   
  border-style: dashed ; 
  width: 400px;           
  background-color: coral;  
  color: black;
  font-size: 13px;        
 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.HoTen{
  justify-content: center;
  text-align: center;
  background-color: tomato;
  font-size: 29px;
  color: black;
}
.sothich, .lop{
  font-size: 39px;
  
}
.h3{
  text-align: center;
  justify-content: center;
}
.body{
  background-color: cadetblue;
}
